/* Please read through the provided code below to understand it */

/* QUESTION #3: PLACE SIDEBAR STYLES BELOW */
.sidebar-container {
	width: 280px;
	height: 100%;
	position: fixed;
	background-color: black;
	-webkit-transform:translateX(-280px);
	-webkit-transition: all 0.3s;
}

.sidebar-item {
	font-weight: 700;
	font-size: 16px;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

/* QUESTION #4: PLACE CAROUSEL STYLES BELOW */
.carousel-container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	overflow: hidden;
	position: relative;
}

#carousel1 {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}

#carousel2 {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}

#carousel3 {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}


.carousel-item-quote {
	width: 960px;
	position: relative;
	height: 100%;
	float: left;
}

.carousel-item {
	width: 960px;
	position: relative;
	height: 100%;
	float: left;
}

/* QUESTION #5: PLACE "OTHER CSS" STYLES BELOW */
.section {
	width: 100%;
	height: 250px;
	position: relative;
}

#quote-section {
	background-color: #2bde73
}

#lived-section {
	background-color: #8bb2af;
}

#travel-section {
	background-color: #D8BFD8;
}

/* DOCUMENT SET UP */

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

/* YOU DON'T NEED TO UNDERSTAND THE CODE BELOW */

#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

/* FREEBIES */

/* Styling the Sidebar Button */
#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

/* Overriding default styles on the ul */
.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* Styling for the carousel previous button */
#carousel-prev1 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next1 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#carousel-prev2 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next2 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#carousel-prev3 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next3 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}


/* Styling for the quotes and text in each section */
.quote, .text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

/* Styling for the author text in each quote */
.author {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}
