/* Please read through the provided code below to understand it */

/* QUESTION #3: PLACE SIDEBAR STYLES BELOW */
.sidebar-container1 {
	width: 280px;
	height: 100%;
	position: fixed;
	z-index: 2;
	background-color: black;
	-webkit-transform:translateX(-280px);
	-webkit-transition: all 0.3s;
}

.sidebar-container2 {
	width: 280px;
	height: 100%;
	position: fixed;
	background-color: black;
	-webkit-transform:translateX(-280px);
	-webkit-transition: all 0.3s;
}

.sidebar-container3 {
	width: 280px;
	height: 100%;
	position: fixed;
	background-color: black;
	-webkit-transform:translateX(-280px);
	-webkit-transition: all 0.3s;
}

.sidebar-item {
	z-index: 2;
	font-weight: 700;
	font-size: 16px;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

/* QUESTION #4: PLACE CAROUSEL STYLES BELOW */
.carousel-container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	overflow: hidden;
	position: relative;
}

.carousel-container-home {
	z-index: 2;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#carousel1 {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}

#carousel2 {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}

#carousel3 {
	width: 4800px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}

#carousel-home {
	z-index: 2;
	width: 4800px;
	height: 80%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}


.carousel-item-quote {
	width: 960px;
	position: relative;
	height: 100%;
	float: left;
}

.carousel-item {
	letter-spacing: .1rem;
	width: 960px;
	position: relative;
	height: 100%;
	float: left;
}

/* QUESTION #5: PLACE "OTHER CSS" STYLES BELOW */
.section {
	width: 100%;
	height: 250px;
	position: relative;
}

.section2 {
	width: 100%;
	height: 100%;
	position: relative;
}

#quote-section {
	background-color: #C06C84;
}

#lived-section {
	background-color: #F67280;
}

#travel-section {
	background-color: #6C5B7B;
}

#home-page-section {
	background: url("background.png");
    background-repeat: no-repeat;
}

#hero-layer {
	width: 100%;
	height: 100%;
	background-color: #6C5B7B;
	opacity: 0.8;
	z-index: 1;
	position: fixed;
}

#about-me {
	letter-spacing: .2rem;
	font-weight: 700;
	line-height: 1.5rem;
	font-size: 20px;
	color: white;
	z-index: 2;
	width: 100%;
	height: 250px;
	margin-top: -10%;
	margin-left: -15%;
	float: left;
	position: fixed;
	float: left;
}

.about-me-paragraph {
	z-index: 2;
	color: white;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	width: 40%;
	height: 30%;
	margin-left: 36%;
	text-align: left;
	position: relative;
    top: 8%;
}

#gif {
	z-index: 2;
	float:left;
	width:50px;
	height:50px;
	position: relative;
	margin-left: 15%;
	margin-top: -10%;
}

/* DOCUMENT SET UP */

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

/* YOU DON'T NEED TO UNDERSTAND THE CODE BELOW */

#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

/* FREEBIES */

/* Styling the Sidebar Button */
#sidebar-button1 {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

#sidebar-button2 {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

#sidebar-button3 {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

/* Overriding default styles on the ul */
.sidebar-container1 ul {
	z-index: 2;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	vertical-align: center;
}

.sidebar-container2 ul {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	vertical-align: center;
}

.sidebar-container3 ul {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	vertical-align: center;
}

.page-wrapper1 {
	z-index: 2;
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.page-wrapper2 {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.page-wrapper3 {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* Styling for the carousel previous button */
#carousel-prev1 {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next1 {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#carousel-prev2 {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next2 {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#carousel-prev3 {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next3 {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#carousel-next-home {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    right: 60px;
    top: 40%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#carousel-prev-home {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 10px;
    left: 60px;
    top: 40%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the quotes and text in each section */
.quote, .text {
	position: absolute;
	text-align: center;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

/* Styling for the author text in each quote */
.author {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}


/*insert here*/

#strip2 {
	width: 10%;
	background-color: #F67280;
	height: 100%;
	float: left;
}

#strip2:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#strip3 {
	width: 10%;
	background-color: #C06C84;
	height: 100%;
	float:left;
}

#strip3:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#strip5 {
	width: 10%;
	background-color: #FF8C94;
	height: 100%;
	float:left;
}

#strip5:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#strip6 {
	width: 10%;
	background-color: #FFAAA6;
	height: 100%;
	float:right;
}

#strip6:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#strip7 {
	width: 10%;
	background-color: #FFD3B5;
	height: 100%;
	float:right;
}

#strip7:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#strip8 {
	width: 10%;
	background-color: #DCEDC2;
	height: 100%;
	float:right;
}

#strip8:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#strip9 {
	width: 10%;
	background-color: #A8E6CE;
	height: 100%;
	float:right;
}

#strip9:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#stripDivider {
	width: 10%;
	background-color: #779ECB;
	height: 100%;
	float: right;
	-webkit-transform: rotate(7deg);
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	text-align: center;
}

.articleDivider {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5rem;
	text-transform: uppercase;
	width: 100%;
	height: 10%;
	text-align: center;
	vertical-align: center;
	position: relative;
	position: relative;
    top: 25%;
}

.articleDividerInstructions {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5rem;
	text-transform: uppercase;
	width: 100%;
	height: 10%;
	text-align: center;
	vertical-align: center;
	position: relative;
	position: relative;
    top: 55%;
}

#article1 {
	-webkit-transform: rotate(-90deg);
}

#article2 {
	-webkit-transform: rotate(-90deg);
}

#article4 {
	-webkit-transform: rotate(-90deg);
}

#date {
	-webkit-transform: rotate(-90deg);
}

.article {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	width: 100%;
	height: 10%;
	text-align: center;
	vertical-align: center;
	position: relative;
	position: relative;
    top: 25%;
}

.article-date {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	width: 100%;
	height: 10%;
	text-align: center;
	vertical-align: center;
	position: relative;
	position: relative;
    top: 65%;
}

#strip1 {
	width: 10%;
	background-color: #F8B195;
	height: 100%;
	float: left;
	text-align: center;
}

#strip1:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip1:hover .article{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip1:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

.batlo {
	position: relative;
	top: 30%;
	-webkit-transform: rotate(-90deg);
	-webkit-transition: all 0.3s;
	margin-top: 15%;
}

#strip4 {
	width: 10%;
	background-color: #6C5B7B;
	height: 100%;
	float:left;
	text-align: center;
}

#strip4:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}

#strip4:hover .article{
	width: 90%;
	margin-left: 5%;
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip4:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#strip4:hover .batlo{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#strip2:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip2:hover .article{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip2:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#strip3:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip3:hover .article{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip3:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#article3 {
	-webkit-transform: rotate(-90deg);
}



#strip5:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip5:hover .article{
	width: 80%;
	margin-left: 10%;
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip5:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#article5 {
	-webkit-transform: rotate(-90deg);
}



#strip6:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip6:hover .article{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip6:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#article6 {
	-webkit-transform: rotate(-90deg);
}



#strip7:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip7:hover .article{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip7:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#article7 {
	-webkit-transform: rotate(-90deg);
}



#strip8:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip8:hover .article{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip8:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#article8 {
	-webkit-transform: rotate(-90deg);
}


#strip9:hover {
	width: 20%;
	-webkit-transition: all 0.3s;
}
#strip9:hover .article{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}
#strip9:hover .article-date{
	-webkit-transform: rotate(0deg);
	-webkit-transition: all 0.3s;
}

#article9 {
	-webkit-transform: rotate(-90deg);
}

p {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	width: 80%;
	left: 10%;
	right: 5%;
	height: 10%;
	text-align: center;
	vertical-align: center;
	position: relative;
	position: relative;
    top: 15%;
}

/*try a pop up modal??? to give directions, as part of the user interface*/
/*#strip10:hover {
	width: 30%;
}*/


/*.strip {
	overflow: hidden;
}*/


